<ion-header>


  <ion-navbar>
    <button ion-button menuToggle persistent="true" id="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Financeiro</ion-title>
    <ion-buttons end></ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding="true">
  <ion-item>
      <ion-label>Selecione o periodo</ion-label>
      <ion-select block  placeholder="Periodo" [(ngModel)]="selected"  (ionChange)="onItemSelection(selected)">
              <ion-option *ngFor="let item of context; let i = index" [value]="i">{{item.descricao}}</ion-option>
      </ion-select>
  </ion-item>    
      <ion-segment  [(ngModel)]="boleto">
        <ion-segment-button value="abertos">
          Abertos
        </ion-segment-button>
        <ion-segment-button value="baixados">
          Baixdos
        </ion-segment-button>
       
      </ion-segment>
    
  
  
  
    <div no-bounce [ngSwitch]="boleto">
      <ion-list *ngSwitchCase="'abertos'"  ngSelected="selected" >
      
      <ng-container *ngFor="let bolet of boletos"  >
        <ng-container *ngIf= "bolet.status == '0' "  >
         <ion-item> 
            <ion-grid>
              <ion-row>  
                <ion-col>
                     <p>Data</p>
                    <p >{{bolet.datavencimento}}</p>
                    <p>DataHoje</p>
                    <h3>{{today |date: 'dd/MM/yyyy' }}</h3>
                </ion-col>
                <ion-col>
                    <p>valor</p>
                    <p >{{bolet.valor}}</p> 
                </ion-col>
                <ion-col>
<button ion-button block icon-end outline  (click)="getImpBoleto(bolet.codcoligada, bolet.idboleto)"  value={{bolet.idboleto}}>BOLETO</button>
                </ion-col>
              </ion-row>  
            </ion-grid>
          </ion-item>
        </ng-container>
      </ng-container>  
      </ion-list>
        
      <ion-list *ngSwitchCase="'baixados'">
        <ng-container *ngFor="let bolet of boletos"  >
          <ng-container *ngIf= "bolet.status == '1' "  >
           <ion-item> 
              <ion-grid>
                <ion-row>  
                  <ion-col>
                       <p>Data</p>
                      <p >{{bolet.datavencimento}}</p>
                      
                  </ion-col>
                  <ion-col>
                      <p>valor</p>
                      <p >{{bolet.valor}}</p> 
                  </ion-col>
                  <ion-col>
                    <ion-icon name="checkbox" color="secondary"></ion-icon>
                  </ion-col>
                </ion-row>  
              </ion-grid>
            </ion-item>
          </ng-container>
        </ng-container> 
        
      </ion-list>
  
     
    </div>
</ion-content>